{% extends '@Afiliado/layout.html.twig' %}

{%  block estilos %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ asset("bundles/afiliado/css/demo.css") }}" />

{% endblock %}

{% block contenido %}
    <h1 class="page-header">Lista de Tarjetas registradas </h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tipo de Tarjeta</th>
                <th>N&uacute;mero de Tarjeta</th>
                <th>Vencimiento</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcionTarjeta }}</td>
                <td>{{ entity.numeroTarjeta }}</td>
                <td>{{ entity.vencimiento }}</td>
                <td>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('tarjeta_show', { 'id': entity.id }) }}"> <i class="fa fa-fw fa-eye"></i> Detalles</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('tarjeta_edit', { 'id': entity.id }) }}"><i class="fa fa-fw fa-edit"></i> Editar</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('tarjeta_delete', { 'id': entity.id }) }}" class="ask-custom"><i class="fa fa-fw fa-trash-o"></i> Eliminar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('tarjeta_new') }}" class="btn btn-success">
                <strong>+</strong>  A&ntilde;adir tarjeta
            </a>
    {% endblock %}


   {% block javascripts %}
       {{ parent() }}
       <script type="text/javascript" src="{{ asset("bundles/afiliado/js/jconfirmaction.jquery.js") }}"></script>
       <script type="text/javascript">

           $(document).ready(function() {


               $('.ask-plain').click(function(e) {

                   e.preventDefault();
                   thisHref	= $(this).attr('href');

                   if(confirm('Are you sure')) {
                       window.location = thisHref;
                   }

               });

               $('.ask-custom').jConfirmAction({question : "¿Esta seguro de eliminar?", yesAnswer : "Si", cancelAnswer : "Cancelar"});
               $('.ask').jConfirmAction();
           });

       </script>


   {% endblock %}