{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header">Lista de Tarjetas registradas </h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero de Tarjeta</th>
                <th>Tipo de Tarjeta</th>
                <th>Vencimiento</th>
                <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tarjeta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numeroTarjeta }}</td>
                <td>{{ entity.descripcionTarjeta }}</td>
                <td>{{ entity.vencimiento }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tarjeta_show', { 'id': entity.id }) }}">Detalles</a>
                    </li>
                    <li>
                        <a href="{{ path('tarjeta_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tarjeta_new') }}">
                Dar de alta otra tarjeta
            </a>
        </li>
    </ul>
    {% endblock %}
