{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1>Tarjeta</h1>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero de tarjeta</th>
                <td>{{ entity.numeroTarjeta }}</td>
            </tr>
            <tr>
                <th>Tipo de tarjeta</th>
                <td>{{ entity.descripcionTarjeta }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{{ entity.vencimiento }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="list-group list-unstyled list-inline">
    <li>
        <a href="{{ path('tarjeta') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('tarjeta_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
