{% extends '@Backend/layout.html.twig'%}

{% block estilos %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"  href="{{ asset("bundles/backend/css/grid.css") }}" />
{% endblock %}

{% block contenido %}
    <h1 class="page-header">Lista de Operaciones de Sincronizacion </h1>

    <form method="get" action="{{ path('filtrar_operaciones') }}">
        <div class="row">
            <div class="col-lg-4 ">
                <div class="form-group">
                    {{ form_label(form.tipo, 'Tipo de Operacion') }}
                    {{ form_errors(form.tipo) }}
                    {{ form_widget(form.tipo, {'attr': {'class': 'form-control'} }) }}
                </div>
                <input type="submit" name="submit-filter" value="Filtrar" class="btn btn-default "/>
            </div>


            <div class="col-lg-4 ">
                <div class="form-group">
                    {{ form_label(form.fecha.left_date, 'Fecha de inicio') }}
                    {{ form_errors(form.fecha.left_date) }}
                    {{ form_widget(form.fecha.left_date, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="form-group">
                    {{ form_label(form.fecha.right_date, 'Fecha de fin') }}
                    {{ form_errors(form.fecha.right_date) }}
                    {{ form_widget(form.fecha.right_date, {'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </form>



{% endblock %}