{% extends '::base.html.twig' %}

{% block body %}


    <table class="table table-bordered">
       <thead>
        <tr class="succes">
          <th>
              Codigo
          </th>
          <th>
              Concepto
          </th>
          <th>
              Fecha vencimiento
          </th>

          <th>
            Importe
          </th>
          <th>
            Subtotal
          </th>
        </tr>
       </thead>

        <tbody>
         {% for detalle in deuda.detallesdeuda %}
        <tr class="active">
             <td>{{ detalle.codigo }}</td>
             <td>{{ detalle.concepto }}</td>
             <td></td>
             <td></td>
             <td>$ {{ detalle.subtotal }}</td>
        </tr>
            {% for subdetalle in detalle.subdetallesdeuda %}
                <tr>
                    <td></td>
                    <td>{{ subdetalle.subconcepto }}</td>
                    <td></td>
                    <td>$ {{ subdetalle.importe }}</td>
                    <td></td>
                <tr>
             {% endfor %}
         {% endfor %}
        <tr>
             <td></td>
             <td></td>
             <td></td>
             <td colspan="2">
              <strong>Importe total de la deuda : $ {{ deuda.importeTotal }}</strong>
             </td>
        </tr>
        </tbody>
    </table>


{% endblock %}