{% extends '::base.html.twig' %}

{% block estilos %}
   <link href="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/afiliado/css/bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-responsive">
              <tr>
                 <td>
                   <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('Logo-CGCET.jpg') }}" />
                   <p>Colegio de Graduados en Ciencias Economicas de Tucum&aacute;n </p>
                   <p>24 de Septiembre 776 - S.M. de Tucum&aacute;n</p>
                </td>
                <td>
                    <h4>Cup&oacute;n de Pago</h4>
                    <p><strong>Estado de deuda Nro.: {{ deuda.numeroDeuda }}</strong></p>
                    <p>Fecha de emision de deuda: {{ deuda.fechaEmision|date("d/m/Y") }}</p>
                    <p>Fecha de comprobante: {{ 'now'|date("d/m/Y") }}</p>
                    <p><strong>Importe total a abonar: $ {{ deuda.importeTotal|number_format(2, '.', ',') }}</strong></p>
                </td>
                  <td></td>>
              </tr>
              <tr>
                  <td>
                      <p>Nombre del afiliado: {{ afiliado }}</p>
                      <p>DNI: {{ afiliado.dni }}</p>
                  </td>
                  <td>
                      <p>Numero de afiliado: {{ afiliado.numeroAfiliado }}</p>
                  </td>
                  <td>
                      <p><img src="{{ app.request.getSchemeAndHttpHost() ~ mopa_barcode_url('code128', codigo ,{'barcodeOptions':{'barHeight': 60}, 'rendererOptions': {'height':90, 'width':150} } ) }}" /></p>
                  </td>

              </tr>


          </table>
        </div>
    </div>
{% endblock %}


