{% extends '@Afiliado/layout.html.twig' %}

{% block contenido %}
    <h1 class="page-header" xmlns="http://www.w3.org/1999/html">
    Mis Deudas
    </h1>
    {% if deuda is not null %}
     <div class="well">
        <p>
            Sus deudas a la fecha {{ "now" | date("d/m/Y") }}
        </p>
    </div>
    <div class="well">
        <p><strong> Numero del Estado de Deuda: {{ deuda.numeroDeuda }}</strong></p>
    </div>
    <table class="table table-bordered">
       <thead>
        <tr class="succes">
          <th>
              Codigo
          </th>
          <th>
              Concepto
          </th>
          <th>
              Fecha vencimiento
          </th>

          <th>
            Importe
          </th>
          <th>
            Subtotal
          </th>
        </tr>
       </thead>

        <tbody>
         {% for detalle in deuda.detallesdeuda %}
        <tr class="active">
             <td>{{ detalle.codigo }}</td>
             <td>{{ detalle.concepto }}</td>
             <td></td>
             <td></td>
             <td>$ {{ detalle.subtotal }}</td>
        </tr>
            {% for subdetalle in detalle.subdetallesdeuda %}
                <tr>
                    <td></td>
                    <td>{{ subdetalle.subconcepto }}</td>
                    <td>{{ subdetalle.fechaVencimiento | date("d/m/Y") }}</td>
                    <td>$ {{ subdetalle.importe }}</td>
                    <td></td>
                <tr>
             {% endfor %}
         {% endfor %}
        <tr>
             <td></td>
             <td></td>
             <td></td>
             <td colspan="2">
              <h4>Importe total de la deuda : $ {{ deuda.importeTotal }}</h4>
             </td>
        </tr>
        </tbody>
    </table>

    <ul class="list-group list-unstyled list-inline">
        <li>
            <a href="{{ path('deuda_imprimir') }}" class="btn btn-default">
                <i class="fa fa-fw fa-file-pdf-o"></i>
                Generar Comprobante de Deuda
            </a>
        </li>
        <li>
            <a href="{{ path('cupon_pago_imprimir') }}" class="btn btn-default">
                <i class="fa fa-fw fa-barcode"></i>
                Generar Cup&oacute;n de Pago
            </a>
        </li>
        <li>
            <a href="{{ path('elegirpago') }}" class="btn btn-default">
                <i class="fa fa-fw fa-money"></i>
                Realizar Pago
            </a>
        </li>
    </ul>


    {% else %}
        <div class="well">
            <p>
                Actualmente todas sus deudas estan pagas.
            </p>
        </div>

    {% endif %}

{% endblock %}