{%   extends '::base.html.twig' %}
{% block estilos %}
    <link href="{{ asset('bundles/afiliado/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('bundles/afiliado/css/sb-admin.css')  }}" rel="stylesheet">
    <link href="{{ asset('bundles/afiliado/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('afiliado_principal') }}">Sistema de Gestion de Deudas CGCET</a>
        </div>

   {% block superior %}
       <ul class="nav navbar-right top-nav">
           {% set usuario = app.user %}
           <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ usuario.nombre }} <b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="#"><i class="fa fa-fw fa-user"></i>Datos personales</a>
                   </li>
                   <li>
                       <a href="#"><i class="fa fa-fw fa-envelope"></i>Cambiar contrase&ntilde;a</a>
                   </li>
                   <li class="divider"></li>
                   <li>
                       <a href="{{   path('afiliado_logout') }}"><i class="fa fa-fw fa-power-off"></i> Cerrar sesion</a>
                   </li>
               </ul>
           </li>
       </ul>

   {% endblock %}
   {% block lateral %}
       <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav side-nav">
               <li>
                   <a href="{{ path("tarjeta") }}"><i class="fa fa-fw fa-dashboard"></i>Tarjetas </a>
               </li>
               <li>
                   <a href="{{ path("estado_deuda") }}"><i class="fa fa-fw fa-bar-chart-o"></i> Mis Deudas</a>
               </li>
               <li>
                   <a href="{{ path("deuda_prueba_imprimir") }}"><i class="fa fa-fw fa-table"></i> Prueba Comprobante</a>
               </li>
               <li>
                   <a href="{{ path("prueba_pago") }}"><i class="fa fa-fw fa-edit"></i> Pagos prueba</a>
               </li>
           </ul>
       </div>
   {% endblock %}
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block contenido %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


  </div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('bundles/afiliado/js/jquery-1.11.0.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/afiliado/js/bootstrap.min.js') }}"></script>
{% endblock %}